In [232]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [233]:
df=pd.read_csv('problem_2_train.csv')

In [234]:
df.head(10)

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8
5,2852784,AN,21,110015,233,233,131,B,ADLD,132001,2017-12-22,2017-12-17,2018-02-08,4580,2018-02-15,9
6,2844713,C,2,110018,233,233,131,A,ADLD,110059,2017-08-26,2017-08-22,2018-02-06,4094,2018-02-09,15
7,2829719,C,6,160059,233,233,131,B,ADLD,151001,2017-03-14,2017-03-13,2018-02-01,4549,2018-02-10,16
8,2833619,AN,3,560011,201,233,131,A,ADLD,560076,2017-07-23,2017-07-22,2018-02-03,4467,2018-02-08,17
9,2870579,AJ,5,380009,233,233,131,B,ADLD,390006,2017-06-01,2017-05-31,2018-02-14,4422,2018-02-20,11

In [235]:
df['memcreateddate']=pd.to_datetime(df['memcreateddate'])
df['mobilepurchasedate']=pd.to_datetime(df['mobilepurchasedate'])
df['claimintdate']=pd.to_datetime(df['claimintdate'])
df['pickupStartdate']=pd.to_datetime(df['pickupStartdate'])

In [236]:
df['memcreateddate']=pd.to_numeric(df['memcreateddate'])
df['mobilepurchasedate']=pd.to_numeric(df['mobilepurchasedate'])
df['claimintdate']=pd.to_numeric(df['claimintdate'])
df['pickupStartdate']=pd.to_numeric(df['pickupStartdate'])

In [237]:
from sklearn.preprocessing import LabelEncoder
labelEncoder=LabelEncoder()
df['mobmake']=labelEncoder.fit_transform(df['mobmake'])
df['custpincodecategory']=labelEncoder.fit_transform(df['custpincodecategory'])
df['claimtype']=labelEncoder.fit_transform(df['claimtype'])

# X and y

In [238]:
feature_cols=['hubid','pickuppartnerid','insuranceCompanyId','deliverypartnerid','claimintdate','claimtype',
      'pickupStartdate','custpincode','servicecntrid','custpincodecategory','mobmake']

In [239]:
X=df[feature_cols]

In [240]:
y=df['tat_in_days']

In [241]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

# Linear Regression

In [242]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(X_train,y_train)

y_pred=linreg.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

4.979142382524452

# KNN

In [243]:
from sklearn.neighbors import KNeighborsRegressor
knnreg= KNeighborsRegressor()
knnreg.fit(X_train,y_train)

y_pred=knnreg.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

5.559457022051559

# Gradient Boosting

In [244]:
from sklearn.ensemble import GradientBoostingRegressor
gradreg= GradientBoostingRegressor()
gradreg.fit(X_train,y_train)

y_pred=gradreg.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

4.38080390582383

# Ridge

In [245]:
from sklearn.linear_model import Ridge
ridreg= Ridge()
ridreg.fit(X_train,y_train)

y_pred=ridreg.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

4.9732551730054935

c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.31266e-34): result may not be accurate.
  overwrite_a=True).T

# Loading Test.csv file

In [246]:
df2=pd.read_csv('problem_2_test.csv')

In [247]:
df2['memcreateddate']=pd.to_datetime(df2['memcreateddate'])
df2['mobilepurchasedate']=pd.to_datetime(df2['mobilepurchasedate'])
df2['claimintdate']=pd.to_datetime(df2['claimintdate'])
df2['pickupStartdate']=pd.to_datetime(df2['pickupStartdate'])

In [248]:
df2['memcreateddate']=pd.to_numeric(df2['memcreateddate'])
df2['mobilepurchasedate']=pd.to_numeric(df2['mobilepurchasedate'])
df2['claimintdate']=pd.to_numeric(df2['claimintdate'])
df2['pickupStartdate']=pd.to_numeric(df2['pickupStartdate'])

In [249]:
from sklearn.preprocessing import LabelEncoder
labelEncoder=LabelEncoder()
df2['mobmake']=labelEncoder.fit_transform(df2['mobmake'])
df2['custpincodecategory']=labelEncoder.fit_transform(df2['custpincodecategory'])
df2['claimtype']=labelEncoder.fit_transform(df2['claimtype'])

# New column predicted_tat_in _days using Gradient boosting as it gives lowest Rmse

In [250]:
X=df2[feature_cols]

In [251]:
df2['predicted_tat_in_days']=gradreg.predict(X)

In [252]:
df2.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,predicted_tat_in_days
0,2829088,13,3,560011,233,233,131,1,0,560093,1501372800000000000,1501113600000000000,1517443200000000000,4467,1517875200000000000,10.335535
1,2829866,10,2,110018,233,233,228,1,0,110034,1500249600000000000,1485302400000000000,1517443200000000000,4388,1518048000000000000,11.846415
2,2894489,10,3,560011,233,233,228,3,0,590014,1515715200000000000,1515628800000000000,1519171200000000000,4460,1519776000000000000,12.212874
3,2876708,10,2,110018,233,233,228,2,0,250110,1502064000000000000,1495324800000000000,1518739200000000000,4388,1519603200000000000,14.591120
4,2890283,13,22,400104,233,233,131,3,0,496001,1510272000000000000,1506038400000000000,1519084800000000000,4581,1519344000000000000,15.768827

In [253]:
df2['memcreateddate']=pd.to_datetime(df2['memcreateddate'])
df2['mobilepurchasedate']=pd.to_datetime(df2['mobilepurchasedate'])
df2['claimintdate']=pd.to_datetime(df2['claimintdate'])
df2['pickupStartdate']=pd.to_datetime(df2['pickupStartdate'])

In [254]:
df2.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,predicted_tat_in_days
0,2829088,13,3,560011,233,233,131,1,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06,10.335535
1,2829866,10,2,110018,233,233,228,1,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08,11.846415
2,2894489,10,3,560011,233,233,228,3,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28,12.212874
3,2876708,10,2,110018,233,233,228,2,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26,14.591120
4,2890283,13,22,400104,233,233,131,3,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23,15.768827

In [255]:
df2['predicted_tat_in_days']=df2['predicted_tat_in_days'].astype(int)

In [256]:
df2.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,predicted_tat_in_days
0,2829088,13,3,560011,233,233,131,1,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06,10
1,2829866,10,2,110018,233,233,228,1,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08,11
2,2894489,10,3,560011,233,233,228,3,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28,12
3,2876708,10,2,110018,233,233,228,2,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26,14
4,2890283,13,22,400104,233,233,131,3,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23,15

# New file having predicted_tat_in_days column

In [257]:
df2.to_csv('problem_2_test_update.csv',index=False,sep=',')